

@media (max-width: 576px) {
    
    h1 {
        font-size: 1.5rem;
    

    }
    .subtitulo {

        display:none;

    }
    #seccion-index{
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        
      
    
    }
    #main {
        min-height: 100vw;
    }
  
    #body-index{

        height: 100vh;
    }
  
.fondo-parrafo{
margin-bottom: 1rem;

}
    .fondo-parrafo h2 {
            
        font-size: 1.1rem;

        }
        .fondo-parrafo h3 {
            
            font-size: 1rem;
    
            }
            .fondo-parrafo h4 {
            
                font-size: 1rem;
            }
            .fondo-parrafo p {
              
                font-size: 0.8rem;
        
                }
#boton-index{
    width: 3rem;
    height: 2.5rem;
    font-size: 0.6rem;
    text-align: center;
}

footer{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
    
}


.navbar-toggler {
    
    margin-left: auto; 

}
.nav-link {
    margin-left: auto;
}

.header-content-right{
    font-size: 0.5rem;
}

#titulonosotros{
    font-size: 1rem;
}
#tituloservicios{
    font-size: 1rem;
    

}
#container-servicio{
    margin: 0;
    padding: 0;

}

.card-body{
    font-size: 0.6rem;

.card-title{
    font-size: 0.8rem;


}
#subtitulo-servicio {
    display:none;
}
.servicios{
    padding: 0;

}
}
#tituo_clientes{
    font-size: 1rem;
    
}
.img_clientes{
    width: 2rem;

}

#img-5{
    display:none;
}


#titulo-contacto{
    font-size: 1rem;
}
#section2contacto{
    font-size: 0.8rem; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
}

}

@media (max-width: 767.98px)  {

    .navbar-toggler {
    
        margin-left: auto; 
    
    }
    .nav-link {
        margin-left: auto;
    }

 }
           