@media (min-width: 768px) and (max-width: 991.98px){

    .navbar-toggler {
    
        margin-left: auto; 
    
    }
    .nav-link {
        margin-left: auto;
    }

    h1 {
        font-size: 1.5rem;
    

    }
    .img_clientes{
        width: 6rem;
    }





}