

@media (max-width: 575.98px) {
    
    h1 {
        font-size: 1.5rem;
    

    }
    .subtitulo {

        font-size: 0.5rem;

    }
    #seccion-index{
      
        display: flex;
        flex-direction: column;
        align-items: center;
       

    }
    .fondo-parrafo{
        margin-bottom: 2rem;
        padding: 5rem;
    }

    .fondo-parrafo h2 {
            
        font-size: 1.2rem;

        }
        .fondo-parrafo h3 {
            
            font-size: 1rem;
    
            }
            .fondo-parrafo h4 {
            
                font-size: 1rem;
            }
            .fondo-parrafo p {
            
                font-size: 0.8rem;
        
                }
            }