
    @media (min-width: 576px) and (max-width: 767.98px) {

        h1 {
            font-size: 1.5rem;
        
    
        }
        

    .navbar-toggler {
    
        margin-left: auto; 
    
    }
    .nav-link {
        margin-left: auto;
    }
    .img_clientes{
        width: 4rem;
    }

    .fondo-parrafo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
         
}