@media (min-width: 992px) and (max-width: 1199.98px){

    .subtitulo {
        font-size: 1rem;
  }

    .navbar-toggler {
    
        margin-left: auto; 
    
    }
    .nav-link {
        margin-left: auto;
    }

    #section-clientes{
        padding-bottom: 7rem;
    }
}


